
.App-header {
    background-color: #cff1f9;
  }
  


/* For my general html elements */
  h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
  }

  p {
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
 
  h3 {
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  



/* For my form inputs */
  input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
  }

  button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  

  /* For my adventure list  */ 
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(auto, auto);
  }

  .adventure-name {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .custom-image {
    width: 350px;
    height: 250px;
  }
  
  .image-container {
    grid-column: 1;
    grid-row: 2;
  }

  .nav-bar {
    background-color: #013d9c;
    padding: 10px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;

  }
